html {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.demo-header {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
}

.lspace-50 {
    letter-spacing: 2.2vw;
}

.text-settings {
    color: #3B3B3B;
}

.form-check {
position: relative;
width: 60px;
}

.form-check-input {
position: absolute;
right: 0;
}

.form-check-label {
position: absolute;
left: 0;
}


.filter-btn {
    padding: 0px 40px;
    background-color: #D9D9D9;
    font-size: 12px;
}
